 @charset "utf-8";
/* CSS Document */
.contextly-sidebar {
	color: #666666;
	width: 100%;
	clear: both;
}
.contextly-sidebar a {
	color: #333;
	font-weight: bold;
	padding: 0px;
}
.contextly-sidebar p {
	display: block;
	margin: 0;              
	padding: 0;
	height: 20px;
}
.contextly-sidebar .linker_content {
	margin: 0;
	padding: 10px;
	color: #666666;
	clear: left;
	display: none;
	background: #fafafa;
	border: none;
	border-top: 5px solid #000000;
}
.contextly-sidebar .linker_content ul {
	margin: 0;
	padding: 0px;
	list-style: none;
}
.contextly-sidebar .linker_content a {
	color: #007ca5;
	text-decoration: none;
}
.contextly-sidebar .linker_content a:hover {
	color: #000000;
}
.contextly-sidebar ul.linker_images li {
	list-style: none !important;
	padding: 0;
	margin: 0;
}
.contextly-sidebar .linker_images li {
	padding: 10px 0 0;
	clear: left;
	background: none;
}
.contextly-sidebar .linker_images li:first-child {
	padding: 0;
}
.contextly-sidebar .linker_images img {
}
.contextly-sidebar .sponsoredlink {
	display: block;
	margin: 0;
	padding: 0;
	text-align: right;
}
.contextly-sidebar .sponsoredlink a {
	text-decoration: underline;
}
.contextly-sidebar .sponsoredlink sup {
	font-size: 10px;
}
.contextly-sidebar ul.horizontal-line {
	display: table;
	padding: 0;
	margin: 0;
	margin-bottom: 4px;
}
.contextly-sidebar .horizontal-line li {
	display: table-cell;
	height: 100%;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	line-height: 1.4
}
.contextly-sidebar .horizontal-line a {
	text-decoration: none;
}
.contextly-sidebar .link-pub-date {
	vertical-align: baseline;
	position: relative;
	font-size: .7em;
	line-height: 1;
	color: #888;
	bottom: 1.2ex;
}
.contextly-sidebar {
	width: 50%;
	font-size: 12px;
}
.contextly-sidebar .linker_content {    
	display: block;
}
.contextly-sidebar .title {
	color: #666666;
	font-weight: bold;
	font-size: 13px;
}
.contextly-sidebar .description {
	color: #666666;
}
.contextly-sidebar-left {
	float: left;
	margin-right: 10px;
	max-width: 50%;
}
.contextly-sidebar-right {
	float: right;
	margin-left: 10px;
	max-width: 50%;
}
.contextly-sidebar-wide {
	width: 100%;
}
.contextly-sidebar-hidden {
	display: none;
}
.contextly-sidebar img.thumbnail {
	max-width: none;
}
